<router-outlet></router-outlet>

<!-- behaviour rxgx /directive or asin pipe,parametreise non paraametrise -->

<!-- <p>
  <mat-toolbar color="primary">
    <div class="badge_button">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon fontIcon="menu"  matBadge="15" matBadgeColor="warn"></mat-icon>
      </button>
    </div>
    <span>My App</span>

    <mat-icon class="_home" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon >favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

</mat-drawer-container>

<mat-paginator class="paginator"   [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
