<p>servic works!</p>
<!-- <div *ngFor="let detail of user">{{detail.id }}</div>
<div *ngFor="let detail of user">{{detail.email }}</div>
<div *ngFor="let detail of user">{{detail.passward }}</div> -->

<div *ngFor="let client of clientdetail">
    {{client?.id}}
    {{client?.email}}
    {{client?.passward}}
    <button (click)="remove(client.id)">Delete</button>
    <!-- <button (click)="paramscheck()" >http params</button> -->
</div>
<hr>





<h3>using post http method</h3>
<!-- {{userdetail?.email}} -->


<h1>parms used and view outut at console side </h1>









 <!-- {{clientdetail | json}} -->

